$bg_dim: #232a2e;
$bg0: #2d353b;
$bg1: #343f44;
$bg2: #3d484d;
$bg3: #475258;
$bg4: #4f585e;
$bg5: #56635f;
$bg_red: #543a48;
$bg_yellow: #4d4c43;
$bg_green: #425047;
$bg_blue: #3a515d;
$red: #e67e80;
$orange: #e69875;
$yellow: #dbbc7f;
$green: #a7c080;
$blue: #7fbbb3;
$cyan: #83c092;
$magenta: #d699b6;
$fg: #d3c6aa;
$gray0: #7a8478;
$gray1: #859289;
$gray2: #9da9a0;

